Repository KeralaDevelopers/keraladevelopers.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, eslint --fix

.lintstagedrc.json:

{
  "*.css": [
    "prettier"
  ],
  "*.ts": [
    "eslint --fix"
  ],
  "*.vue": [
    "eslint --fix"
  ]
}

feat: seo meta for app
  app.vue
Due: eslint --fix

feat: base level catch all page
  assets/styles/main.css
  content/how-to-ask.md
  pages/[_].vue
  public/fonts/Manjari/Bold.ttf
  public/fonts/Manjari/Regular.ttf
Due: prettier, eslint --fix

feat: events
  components/Header.vue
  content/events/fossmeet-24.md
  content/events/readme.md
  pages/blog/index.vue
  pages/events.vue
Due: eslint --fix

fix: brand colors
  app.config.ts
  pages/index.vue
  public/svg/logo.svg
  tailwind.config.js
Due: eslint --fix

feat: background gradient
  components/Header.vue
  layouts/default.vue
Due: eslint --fix

feat: dark mode
  layouts/default.vue
  pages/blog/[_].vue
  pages/blog/index.vue
  pages/events.vue
  pages/index.vue
Due: eslint --fix

fix: favicon
  app.vue
  components/Header.vue
  components/Logo.vue
  public/favicon/dark.svg
  public/favicon/light.svg
Due: eslint --fix

fix(ci): repo name
  .github/workflows/nuxt-build.yml
Due: none

chore: add readme
  README.md
Due: none

fix(doc): `how-to-ask`
  pages/how-to-ask.vue
Due: eslint --fix

fix: malayalam font
  assets/styles/main.css
  tailwind.config.js
Due: prettier

fix(doc): `how-to-ask`: dark: prose-invert
  pages/how-to-ask.vue
Due: eslint --fix

chore: home page wordings
  pages/index.vue
Due: eslint --fix

chore: blog: reading time: use mdash
  pages/blog/[_].vue
Due: eslint --fix

fix(ui): scroll container
  components/Header.vue
  layouts/default.vue
Due: eslint --fix

ci: use gh pages script from nuxt
  .github/workflows/nuxt-build.yml
Due: none

ci: fix target branch
  .github/workflows/nuxt-build.yml
Due: none

s/h-screen/h-dvh/g
  .gitignore
  layouts/default.vue
Due: eslint --fix

chore: enable font `antialiased`
  app.vue
Due: eslint --fix

refactor: use nuxt `routeRules` for redirects
  middleware/redirect.global.ts
  nuxt.config.ts
  redirects.ts
Due: eslint --fix

chore: home: use '🤝' instead of hearts
  pages/index.vue
Due: eslint --fix

feat: use `Geist` for sans
  assets/styles/main.css
  public/fonts/Geist.woff2
  public/fonts/InterTight.ttf
  tailwind.config.js
Due: prettier

feat: use `Geist` for sans (#7)
  assets/styles/main.css
  public/fonts/Geist.woff2
  public/fonts/InterTight.ttf
  tailwind.config.js
Due: prettier
